<p id="notice"><%= notice %></p>

<p>
  <strong>Systolic:</strong>
  <%= @entry.systolic %>
</p>

<p>
  <strong>Diastolic:</strong>
  <%= @entry.diastolic %>
</p>

<p>
  <strong>Mood:</strong>
  <%= @entry.mood %>
</p>

<p>
  <strong>Users:</strong>
  <%= @entry.users_id %>
</p>

<%= link_to 'Edit', edit_entry_path(@entry) %> |
<%= link_to 'Back', entries_path %>
